<html>
<head>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/custom-css/cover.css" rel="stylesheet">

</head>
<body style="background-color:black;">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Bebo Falando</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link <% if (title === 'home') { %>active<% } %>" href="/">Home</a>
          <a class="nav-link <% if (title === 'videos') { %>active<% } %>" href="/videos">Vídeos</a>
          <a class="nav-link <% if (title === 'contato') { %>active<% } %>" href="/contato">Contato</a>
        </nav>
      </div>
    </header>
<!-- FINAL NAV -->
