<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/custom-css/cover.css" rel="stylesheet">

</head>
<body>
    <% if (device === 'desktop'){ %>
    <div class="video-background">
      <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/SEmMBtuiLkA?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;mute=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <% } else { %>
      <div class="video-background">
        <div class="video-foreground">
          <img src="http://www.raulbarboza.com.br/wp-content/uploads/2018/07/bg-1.png" alt="">
        </div>
      </div>
    <% } %>

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Bebo Falando</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link <% if (title === 'home') { %>active<% } %>" href="/">Home</a>
          <a class="nav-link <% if (title === 'videos') { %>active<% } %>" href="/videos">Vídeos</a>
          <a class="nav-link <% if (title === 'contato') { %>active<% } %>" href="/contato">Contato</a>
        </nav>
      </div>
    </header>
<!-- FINAL NAV -->
