
  <% for (video of videos){%>
   <div class="row" style="margin-top:20px;">
      <div class="col-sm-6 embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video.snippet.resourceId.videoId %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
          <p><%= video.snippet.title %></p>
      </div>
   </div>
   <% } %>
