<div class="jumbotron text-center">
   <h1>ids</h1>
   <div class="row">
    <% for (id of ids){%>
      <div class="col-sm-6 embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= id %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    <% } %>
   </div>
</div>
